.posts{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

.even{
    background-color: #e5fd78;
}

.odd{
    background-color: #7ceaf1;
}

.first{
    color: purple;
}


.user-add-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.fieldset{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: rgb(117, 117, 228);
}

.input-group{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    column-gap: 2rem;
}