<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <!-- <h1 [innerHTML] = "title">Heading</h1> -->
  <!-- <h3 [innerHTML] = "sub-title">Heading</h3> -->
  <!-- <button (click) = "hello('Hello World')">Click here</button> -->


  <div
    class="posts"
    *ngFor="
      let post of posts;
      index as i;
      count as c;
      first as first;
      last as last;
      odd as odd;
      even as even;
    "
    [ngClass] ="{even:even,odd:odd,first:first}"
  >
    <h2 class="post__title" >
        {{ post.title }}
    </h2>
    <p class="post__like">{{ post.likes }}</p>
    <p class="post__hit">{{ post.hits }}</p>
    <p class="post__content">{{ post.content }}</p>
  </div>
</body>
</html>