
<form class="user-add-form" (ngSubmit)="handleUser($event)">
    <fieldset class="fieldset">
      <legend class="legend">Enter new user details</legend>
      <div class="input-group">
        <label for="name" class="input-label">User name</label>
        <input
          type="text"
          class="input-control"
          name="name"
          placeholder="user name here"
          id="name"
          [(ngModel)]="name"
        />
      </div>
      <div class="input-group">
        <label for="age" class="input-label">user age</label>
        <input
          type="number"
          min="1"
          max="99"
          class="input-control"
          name="age"
          placeholder="user age here"
          id="age"
          [(ngModel)]="age"
        />
      </div>
      <div class="input-group">
        <label for="bio" class="input-label">user bio</label>
        <textarea
          class="input-control"
          name="bio"
          placeholder="user bio here"
          id="bio"
          rows="3"
          [(ngModel)]="bio"
        ></textarea>
      </div>
      <div class="input-group">
        <label for="gender" class="input-label">user gender</label>
        <select
          class="input-control"
          name="gender"
          id="gender"
          [(ngModel)]="gender"
        >
          <option value="undefined" disabled selected>Select a gender</option>
          <option value="male">Male</option>
          <option value="female">Female</option>
          <option value="prefernottoshare">Prefer not to share</option>
        </select>
      </div>
      <div class="input-group align-center">
        <button type="submit" class="btn btn-danger" >Submit</button>
      </div>
    </fieldset>
  </form>
  <!-- <ul class="user-container">
    <li class="user-info" [value]="name">{{name}}</li>
    <li class="user-info">{{age}}</li>
    <li class="user-info">{{bio}}</li>
    <li class="user-info">{{gender}}</li>
  </ul> -->

  <div class="user-outer-container">
    <div
    class="user-display"
    *ngFor="
      let user of users;
      index as i;
      count as c;
      first as first;
      last as last;
      odd as odd;
      even as even;
    "
    [ngClass] ="{even:even,odd:odd,first:first}"
  >
    <h2 class="user-name" >{{ user.name }}</h2>
    <p class="user-age">{{ user.age }}</p>
    <p class="user-bio">{{ user.bio }}</p>
    <p [style.color]='orange' class="user-gender">{{ user.gender }}</p>
  </div>
  </div>
  