.posts{
    padding: 3em 1rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1em 1em;
    background-color: hsl(var(--clr-accent));
}
.title{
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
}

/* .odd{
    background-color: #1eedfc;
} */