/* You can add global styles to this file, and also import other style files */
:root {
    --clr-light: 0, 0%, 100%;
    --clr-accent: 40, 73%, 91%;
    --clr-dark: 200, 80%, 24%;
    --clr-info: 271, 40%, 28%;
    --clr-danger: 350, 63%, 55%;
    --clr-success: 119, 42%, 50%;
}
*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body {
    font-family: 'Nunito Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    color: hsl(var(--clr-dark));
    line-height: 1.6;
    background-color: hsl(var(--clr-light));
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Barlow', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 1em;
    font-weight: 400;
}
a, a:hover, a:focus, a:visited, a:active {
    text-decoration: none;
    outline: none;
}
img {
    max-width: 100%;
    height: auto;
}
.container {
    max-width: 80rem;
    padding-inline: 1rem;
    margin-inline: auto;
}
.btn {
    all: unset;
    font-size: 0.875rem;
    padding: 0.5em 1.75em;
    text-align: center;
    transition: all ease 350ms;
    cursor: pointer;
}
.btn-danger {
    background-color: hsl(var(--clr-danger));
    color: hsl(var(--clr-light));
}
.btn-danger:hover, .btn-danger:focus {
    background-color: hsla(var(--clr-danger), 0.75);
}
.btn-primary {
    background-color: hsl(var(--clr-dark));
    color: hsl(var(--clr-light));
}
.btn-accent {
    background-color: hsl(var(--clr-accent));
    color: hsl(var(--clr-dark));
}
/* Form */
.fieldset {
    padding: 1.5em 2em;
}
.legend {
    padding-inline: 1em;
}
.align-center {
    align-items: center;
}
.input-group {
    display: flex;
    flex-direction: column;
}
.input-group:not(:last-child) {
    margin-bottom: 1.5rem;
}
.input-label {
    font-size: 0.875rem;
}
.input-control {
    padding: 0.75em;
    font-size: 0.875rem;
    resize: none;
}
.input-error {
    font-size: 0.75rem;
    margin-top: 0.5em;
    color: hsl(var(--clr-danger));
}
.btn[disabled] {
    cursor: not-allowed;
    background-color: hsla(var(--clr-light), 0.75);
    color: hsl(var(--clr-dark));
    user-select: none;
}